html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
body {
  background: #ccc;
  margin-left: 12.5%;
  margin-right: 12.5%;
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto;
  grid-area: "header"
             "nav   "
             "main  "
             "footer";
}

h1 {
  font-size: 26px;
}
h3 {
  font-size: 18px;
}
p {
  font-size: 14px;
}

nav {
  margin-top: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 24px;
}

li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: black;
}

label {
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

fieldset {
  background-color: lightgrey;
  margin-top: 20px;
  border: 0;
}
.storbtn {
  background: turquoise;
  color: #fff;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  width: 125px;
  height: 55px;
  border-radius: 12.5%;
  float: right;
}

.floatr {
  float: right;
}

.floatl {
  float: left;
}

.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 2fr);
}
.box {
  background: lightgrey;
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: 0 1px 5px turquoise;
}

.btn {
  background: turquoise;
  color: #fff;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  border-radius: 12.5%;
  float: right;
}
footer {
  margin-top: 20px;
  background-color: lightgrey;
  width: 100%;
  text-align: center;
}

.boldtext {
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .boxes {
    grid-template-columns: repeat(1, 6fr);
  }
}